body {
  text-align: center;
}
.task {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  padding-left: 20px;
}
.date {
  height: 40px;
  width: 180px;
  border-radius: 10px;
  margin: 20px;
  padding: 0px 20px;
}
.add {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: green;
  color: aliceblue;
}
.add:hover {
  background-color: black;
}
.jsbutton
{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: green;
  color: aliceblue;
  mar
}